/* CSS Document */
html{overflow-x:auto;overflow-y:auto;}
body{margin:0px;padding:0px;font-size:12px;text-align:center;font-family:"΢���ź�";  background-color:#000;word-wrap:break-word;}
body div{margin-right:auto;margin-left:auto}
div{padding:0;height:auto;text-align:left}
img,a img{border:0px;margin:0px;padding:0px;}
input,select,textarea{font-size:12px}
p,dl,dt,dd,ol,ul,li{margin:0px;padding:0px;height:auto;text-align:left}
.ul li,.ul li p,.dl dt{white-space:nowrap;overflow:hidden}
ol,ul,li{list-style:none}
form,input,select,textarea,checkbox,h1,h2,h3,h4,h5,h6{margin:0px;padding:0px}
label,var,cite,span{font-style:normal}
br{font-size:12px}
h1{font-size:16px}
h2,h4{font-size:14px}
h5,h6{font-size:12px}
a{color:#636363;text-decoration:none}
a:hover{text-decoration:underline}
.l{float:left}
.r{float:right}
.clear{clear:both;height:0;min-height: 0}

body{
    height: 100%;
    width: 100%;
	background-color:#242424;
}

.wrap{
    width:971px;
    margin: 0 auto;
}
.head{
    background: url(../images/top_head_bg.jpg) repeat-x;
    height:122px;
}
.logo{
    padding: 28px 0 20px 93px;
}

.lang img{ float:right; margin-right:18px; margin-top:10px;}
.content{ margin-top:20px ; padding:15px;height:auto; background:#FFF;}

.urllink{float:right; margin-right:35px;margin-top: -20px;}
.urllink img { vertical-align:middle;}
.urllink a { vertical-align:middle;font-family:"黑体";}
.urllink ul{list-style-type:none;}
.urllink li{float:left; margin-right:15px; padding:0 5px; height 20px; line-height:20px; font-weight:bold;font-size:13px; vertical-align:middle;}
.urllink li a:hover{color:#3e8eac;}

.t{
	float:left;
	width:32px;
	height:32px;
	line-height:32px;
	padding-left:4px\9;
	text-align:center;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: white;
    background-color: #265579;
}
.c{
	float:left;
	width:4px;
	background:url(../images/brand_line2.png) repeat-x;
	height:80px;
}
.t2{
	float:left;
	width:906px;
	overflow:hidden;	
}
.c2{
	float:left;
	margin-bottom:10px;
}
.zt {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding:5px;
	color:#265579;
}
#pp{
	font-family:微软雅黑, 黑体;
	font-size:14px;
	color:#888888;
}

.content .brand{height:150px; width:790px; background:url(../images/bg_gray.jpg) 0 0 repeat-y; margin-top:20px;
margin-left: 102px;}
.content .brand .lb{float:left; width:350px;margin-left:38px;}
.content .brand .lb p{color:#fff; font-family:"微软雅黑"; font-weight:normal}
.content .brand .rb{float:right; width:388px}
.content .brand .rb p{color:#fff; font-family:"微软雅黑"; font-weight:normal}